body {
	margin:0px;
    background: center/100% url( "Ativ4.jpg");
	background-color: #cccccc; 
	font-family:"Comic Sans MS", Tahoma, Arial, Verdana;
	font-size:12px;
	color:rgb(0, 0, 0);
}
.header {
    text-align: center;
    overflow: hidden;
    background-color: #ac3c3c;
    padding: 20px 10px;
  }

  
.container {
    margin: 0 auto;
    width: 960px;
    }
    article {
        margin:0 auto; 
        overflow: hidden;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-color: #CCC #999 #999 #CCC;
        width: 950px;
        margin-bottom: 20px;
        padding: 20px 10px;
        text-align: center;
        font-family:"Comic Sans MS", Tahoma, Arial, Verdana;
        font-size:12px;
        color:rgb(0, 0, 0);
        }    